@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,400&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;

}

nav {
    padding: 10px o;
}

.nav-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;



}

header {
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    background-position: bottom left, top left;
}

.logo-container {
    width: 50%;
    display: flex;
    font-size: 25px;

}

.nav-items-container {
    width: 50%;
    display: flex;
    justify-content: space-between;

}

.logo-container img {
    height: 40px;
    width: 86px;
    margin-top: 44px;
}

.logo-container p {
    font-size: 45px;
    font-weight: 700;
}

.nav-items-container a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.text-color {
    color: magenta;

}

.nav-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 262px;
    height: 56px;
    text-align: center;
    padding-top: 15px;

}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;

}

.banner-content {
    width: 50%;

}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
}

.gamer-container {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}

.funny-cards-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.funny-cards-container .funny-cards {
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    width: 342px;
    height: 400px;
    align-items: center;
    margin-left: 24px;
}

.play-banner-container {
    display: flex;
    justify-content: space-between;
}



.gaming-section-container {
    width: 1920px;
    height: 427px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin: 0 auto;
}

.careers-banner {
    width: 1920px;
    height: 821px;
    flex-shrink: 0;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    display: flex;
    margin: 0 auto;
}



.btn-img {
    width: 243px;
    height: 80px;
    border-radius: 50px;
    background: #FFF;
    color: #0B0223;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.gaming-section-container {
    width: 1920px;
    height: 427px;
    flex-shrink: 0;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}




footer {
    background: #0B0223;
    width: 1920px;
    height: 636px;
    margin: 0 auto;
}
.fa-brands {
    align-items: center;
}

@media screen and (max-width:576px) {
    .nav-container {
        flex-direction: column
    }

    .nav-items-container {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 50%;
    }

    @media screen and (min-width:576px) and (max-width:960px) {


        .nav-container {
            flex-direction: column;
        }
    }
}