@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,400&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;

}

nav {
    padding: 10px o;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    ;
}

.nav-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;



}

header {
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    background-position: bottom left, top left;
}

.logo-container {
    width: 100%;
    display: flex;
    font-size: 25px;
    align-items: center;
    gap: 20px;

}

.logo-container p {
    font-size: 45px;
    font-weight: 700;

}

.nav-items-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    max-width: 8oopx;
    align-items: center;

}

.logo-container img {
    height: 40px;
    width: 86px;

}

.logo-container p {
    font-size: 45px;
    font-weight: 700;
}

.nav-items-container a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    text-align: center;

}

.text-color {
    color: #FF42A5;


}

.nav-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 262px;
    height: 56px;
    text-align: center;
    padding-top: 15px;

}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
}

.banner-text {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;


}

.banner-description {
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content {
    padding-bottom: 40px;
}

.banner-img img {
    width: 90%
}

.btn-second {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
}

.btn-first {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.gamer-content {
    width: 50%;
}

.gamer-container img {
    width: 60%
}

.gamer-content-text {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.gamer-content-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.gamer {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}

.gamer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;

}

.btn-third {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.text-gray-1 {
    color: #534C64;
    text-align: left;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
    margin-bottom: 10px;
}

.text-gray-2 {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 96px;
}

funny-banner {
    background-color: #FFF;
    margin: 0 auto;
    align-items: center;
}

.funny-content {
    text-align: center;
    margin-top: 176px;
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.funny-content .funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;

}

.funny-text {
    text-align: center;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}


.funny-cards-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    width: 60%;
    margin-top: 30px;
}

.funny-cards-container .funny-cards {
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    width: 342px;
    height: 400px;
    align-items: center;
    gap: 10px;
}

.funny-cards-container .funny-cards:hoover {
    cursor: pointer;
    border-color: #8758F1;

}

.play-banner {
    width: 50%;
    align-items: center;
    text-align: center;
}

.play-banner-img {
    width: 50%;
    height: 100%
}

.play-banner-img-1 {
    position: relative;
    bottom: 200px;
    width: 318.5px;
    height: 365.083px;
    border-radius: 8px;
}

.play-banner-container {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    background-color: #FFF;
    padding: 50px;

}

.text-gray {
    text-align: center;
}

.play-banner h3 {
    text-align: right;
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    line-height: 60px;
}

.play-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.gaming-section-container {
    width: 1920px;
    height: 427px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin: 0 auto;
}

.careers {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);

}

.careers-banner {
    max-width: 1440px;
    height: 821px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

.text-careers {
    width: 426px;
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
}

.text-gray-light {
    width: 680px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.careers-1 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
}

.careers-2 {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    text-align: right;
}

.btn-fifth {
    border-radius: 48px;
    background: #FFF;
    display: inline-flex;
    padding: 21px 40px;
    gap: 10px;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;

}



.btn-img {
    width: 243px;
    height: 80px;
    border-radius: 50px;
    background: #FFF;
    color: #0B0223;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.btn-img:hover {
    cursor: pointer;
    border-color: #4EC5F7;
}

.game-part-2 {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin: 0 auto;
    padding: 40px 0;
    gap: 40px;

}

.gaming-section-container {
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}

.gaming-section-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gaming-section-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
}




footer {
    background: #0B0223;
    margin: 0 auto;
}

.footer-content ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.fa-brands {
    text-align: center;
}

.footer-section {
    text-align: center;
    color: #FFF;
    padding-top: 40px;
}

.footer-section p {
    font-size: 45px;
    font-weight: 700;
}

.footer-section img {
    width: 86px;
    height: 40px;
}

.footer-section li {
    display: flex;
    justify-content: center;
    text-decoration: none;
    gap: 10px;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-accounts .fa-brands {
    width: 40px;
    height: 40px;
    padding: 10px;
}

@media screen and (max-width:576px) {
    .nav-container {
        flex-direction: column;
    }

    .logo-container,
    .careers-banner,
    .gamer-container,
    .play-banner-container,
    .funny-cards-container,
    .btn-img,
    .footer-logo {

        flex-direction: column;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-img {
        width: 100%;
    }


    .nav-items-container {
        flex-direction: column;
        width: 100%;

    }

    .nav-items-container a {
        margin-top: 20px;
    }

    .nav-items-container .nav-btn {
        width: 100%;
        margin-bottom: 10px;

    }

    .gamer-container img {
        width: 100%;
    }

    .funny-cards-container .funny-cards {
        margin-top: 100px;

    }

    .gaming-section-1 {
        grid-template-columns: repeat(3, 1fr);
    }

    .gaming-section-2 {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-content ul {
        grid-template-columns: repeat(3, 1fr);
    }

    .social-accounts .fa-brands {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width:576px) and (max-width:960px) {


        .nav-container {
            flex-direction: column;
        }
    }
}